@model ProductDisplayResponse
<div class="card">
    <img src="@Model.ImageUrl" class="img-fluid" />
    <div class="card-body">

        <h3 class="card-title">@Model.Name</h3>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Model.Price</p>

        <button class="btn btn-success basket" data-id="@Model.Id"> Sepete Ekle</button>

    </div>
</div>